<li class="nav-item dropdown user-menu">
  <a
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    (click)="toggleDropdownMenu()"
  >
    <!-- <img
      [src]="user.image"
      class="user-image img-circle elevation-2"
      alt="User Image"
    /> -->
    <p>Xin chào admin</p>
  </a>
  <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <!-- Menu Body -->

    <!-- Menu Footer-->
    <li class="user-footer">
      <a class="btn btn-default btn-flat">
        Đổi mật khẩu
      </a>
      <a (click)="logout()" class="btn btn-danger btn-flat float-right"
        >Đăng xuất</a
      >
    </li>
  </ul>
</li>
