<section class="content-header" style="padding: 0.5% !important;">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
          <li class="breadcrumb-item active">
            Checkin QRCode
          </li>
          &nbsp;
        </ol>
      </div>
      <!-- /.col -->
      <div class="col-sm-6" style="text-align: right;"></div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content cus-body">
  <div class="card">
    <div class="card-body">
      <div class="tab-content">
        <div class="active tab-pane">
          <div class="text-center">
            <qrcode
              [qrdata]="qrdata"
              [width]="256"
              [level]="'M'"
              [elementType]="elementType"
              [scale]="scale"
            >
            </qrcode>
          </div>
          <form [formGroup]="Insert">
            <div class="row">
              <div class="col-md-12 text-center">
                <a
                  target="_blank"
                  href="http://localhost:4200/#/checkin?IDSuKien={{ EventsID }}"
                  ><h5>
                    Quét mã hoặc truy cập checkin tại:
                    http://localhost:4200/#/checkin?IDSuKien={{ EventsID }}
                  </h5></a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="col-md-10 require">Tên sự kiện</label>
                <input
                  class="form-control"
                  formControlName="TenSuKien"
                  readonly
                  type="text"
                  id="TenSuKien"
                />
              </div>
              <div class="col-md-6">
                <label class="col-md-10 require">Nội dung</label>
                <input
                  class="form-control"
                  formControlName="NoiDung"
                  readonly
                  type="text"
                  id="NoiDung"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="col-md-10 require">Địa chỉ</label>
                <input
                  class="form-control"
                  formControlName="DiaChi"
                  readonly
                  type="text"
                  id="DiaChi"
                />
              </div>
              <div class="col-md-6">
                <label class="col-md-10 require">Ghi chú</label>
                <input
                  class="form-control"
                  formControlName="GhiChu"
                  readonly
                  type="text"
                  id="GhiChu"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.col -->
    </div>
  </div>
</section>
