<section class="content-header" style="padding: 0.5% !important;">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
          <li
            class="breadcrumb-item active"
            [routerLink]="['/portal/my-events']"
          >
            Thống kê theo khách hàng
          </li>
          &nbsp;
        </ol>
      </div>
      <!-- /.col -->
      <div class="col-sm-6" style="text-align: right;"></div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content cus-body">
  <div class="card">
    <div class="card-body">
      <div class="tab-content">
        <div class="active tab-pane">
          <div class="row">
            <!-- <div class="{{TitleClass}}"></div>
                    <div class=" col-md-3">
                        <h3 class="card-title">{{Title}}</h3>
                    </div>
                  </div> -->
            <div
              class="table-responsive dataTables_wrapper container-fluid dt-bootstrap4 cus-fs"
            >
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="table-bordered dataTables_wrapper no-footer"
              >
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of TableData">
                    <td>{{ p.ID }}</td>
                    <td>{{ p.HoTen }}</td>
                    <td>{{ p.UserName }}</td>
                    <td>{{ p.isPremium }}</td>
                    <td>{{ p.Email }}</td>
                    <td>{{ p.SuKien }}</td>
                    <td>{{ p.KhachMoi }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
  </div>
</section>
