<footer class="main-footer cus-bor">
    <div class="float-right d-none d-sm-block"><b>Version</b> 0.0.0.0</div>
    <strong
      >Copyright &copy; 2009-2022
      <a href="http://thienan.vn">Thiên An</a>.</strong
    >
   Portal
  </footer>
  
