<div class="row">
  <div class="col-md-7">
    <div
              class="table-responsive dataTables_wrapper container-fluid dt-bootstrap4 cus-fs"
            >
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="table-bordered dataTables_wrapper no-footer"
              >
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of WinnerData">
                    <td>{{ p.ID }}</td>
                    <td>{{ p.HoTen }}</td>
                    <td>{{ p.SoDienThoai }}</td>
                    <td>{{ p.Email }}</td>
                    <td>{{ p.DiaChi }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
  </div>
<div class="col-md-5">
  <div class="text-center">
    <ngx-wheel
      #wheel
      width="400"
      height="400"
      spinDuration="8"
      [items]="items"
      [innerRadius]="20"
      [spinAmount]="10"
      [textOrientation]="textOrientation"
      [textAlignment]="textAlignment"
      pointerStrokeColor="black"
      pointerFillColor="gold"
      [idToLandOn]="idToLandOn"
      (onSpinStart)="before()"
      (onSpinComplete)="after()"
    ></ngx-wheel>
  </div>
  
  <div class="reset" class="text-center">
    <button class="btn btn-primary" (click)="Start()">
     Bắt đầu
    </button>
  </div>
</div>

</div>

<!-- <div class="buttons">
  <button (click)="spin(0)">Prize 0</button>
  <button (click)="spin(1)">Prize 1</button>
  <button (click)="spin(2)">Prize 2</button>
  <button (click)="spin(3)">Prize 3</button>
  <button (click)="spin(4)">Prize 4</button>
  <button (click)="spin(5)">Prize 5</button>
  <button (click)="spin(6)">Prize 6</button>
  <button (click)="spin(7)">Prize 7</button>
  <button (click)="spin(8)">Prize 8</button>
  <button (click)="spin(9)">Prize 9</button>
  <button (click)="spin(10)">Prize 10</button>
  <button (click)="spin(11)">Prize 11</button>
</div> -->
