<section class="content-header" style="padding: 0.5% !important;">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
          <li
            class="breadcrumb-item active"
            [routerLink]="['/portal/my-events']"
          >
            Sự kiện của tôi
          </li>
          &nbsp;
        </ol>
      </div>
      <!-- /.col -->
      <div class="col-sm-6" style="text-align: right;">
        <button
          class="btn btn-success btn-sm"
          (click)="open(mymodal, false, null)"
          style="float: right;"
        >
          <i class="fas fa-plus-circle"></i> Thêm mới sự kiện
        </button>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content cus-body">
  <div class="card">
    <div class="card-body">
      <div class="tab-content">
        <div class="active tab-pane">
          <div class="row">
            <!-- <div class="{{TitleClass}}"></div>
                  <div class=" col-md-3">
                      <h3 class="card-title">{{Title}}</h3>
                  </div>
                </div> -->
            <div
              class="table-responsive dataTables_wrapper container-fluid dt-bootstrap4 cus-fs"
            >
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="table-bordered dataTables_wrapper no-footer"
              >
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of TableData">
                    <td>{{ p.ID }}</td>
                    <td>{{ p.CustomerName }}</td>
                    <td>{{ p.TenSuKien }}</td>
                    <td>{{ p.NoiDung }}</td>
                    <td>{{ p.DiaDiem }}</td>
                    <td>{{ p.ThoiGian }}</td>
                    <td>{{ p.TenTrangThai }}</td>
                    <td>{{ p.GhiChu }}</td>
                    <td>
                      <button
                        class="btn btn-sm btn-primary"
                        style="margin-right: 4px;"
                        [routerLink]="['/portal/guest-detail']"
                        [queryParams]="{ EventsID: p.ID }"
                        queryParamsHandling="merge"
                      >
                      <i class="fas fa-user-friends"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-primary"
                        style="margin-right: 4px;"
                        [routerLink]="['/portal/game']"
                        [queryParams]="{ EventsID: p.ID }"
                        queryParamsHandling="merge"
                      >
                        <i class="fas fa-dharmachakra"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-primary"
                        style="margin-right: 4px;"
                        [routerLink]="['/portal/checkin-scan']"
                        [queryParams]="{ EventsID: p.ID }"
                        queryParamsHandling="merge"
                      >
                        <i class="fas fa-qrcode" title="Lấy mã checkin"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-warning"
                        style="margin-right: 4px;"
                        (click)="open(mymodal, true, p)"
                      >
                        <i class="fas fa-edit"></i>
                      </button>

                      <button
                        class="btn btn-sm btn-danger"
                        (click)="DeleteConfirm(p)"
                      >
                        <i class="fas fa-trash-alt" title="Xóa sự kiện"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
  </div>
</section>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thông tin sự kiện</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="Insert">
        <div class="cus-box">
          <div class="row">
            <div class="col-md-6">
              <label class="col-md-10 require" for="ID">ID</label>
              <input
                readonly
                class="form-control"
                required
                type="number"
                id="ID"
                formControlName="ID"
              />
            </div>
            <div class="col-md-6">
              <label class="col-md-10 require" for="TenSuKien"
                >Tên sự kiện</label
              >
              <input
                class="form-control"
                required
                type="text"
                id="TenSuKien"
                formControlName="TenSuKien"
                [ngClass]="{
                  'is-invalid': submitted && checkvalue.TenSuKien.errors
                }"
              />
              <div
                *ngIf="submitted && checkvalue.TenSuKien.errors"
                class="invalid-feedback"
              >
                <div *ngIf="checkvalue.TenSuKien.errors.required">
                  Tên sự kiện không được để trống
                </div>
              </div>
            </div>
          </div>
          <div class="row">
           
            <div class="col-md-6">
              <label class="col-md-10 require" for="TrangThai">Sự kiện đã kết thúc?</label>
              <input class="form-control" type="checkbox" id="TrangThai" formControlName="TrangThai" />
            </div>
            <div class="col-md-6">
              <label class="col-md-10 require" for="DiaDiem">Địa điểm</label>
              <input
                class="form-control"
                required
                type="text"
                id="DiaDiem"
                formControlName="DiaDiem"
                [ngClass]="{
                  'is-invalid': submitted && checkvalue.DiaDiem.errors
                }"
              />
              <div
                *ngIf="submitted && checkvalue.DiaDiem.errors"
                class="invalid-feedback"
              >
                <div *ngIf="checkvalue.DiaDiem.errors.required">
                  Địa điểm không được để trống
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="col-md-10 require" for="ThoiGian"
                >Thời gian</label
              >
              <input
                class="form-control"
                type="datetime-local"
                formControlName="ThoiGian"
              />
            </div>
            <div class="col-md-6">
              <label class="col-md-10 require" for="GhiChu">Ghi chú</label>
              <input
                class="form-control"
                type="text"
                id="GhiChu"
                formControlName="GhiChu"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="col-md-10 require" for="NoiDung">Nội dung</label>
              <!-- <input
                class="form-control"
                required
                type="text"
                id="NoiDung"
                formControlName="NoiDung"
                [ngClass]="{
                  'is-invalid': submitted && checkvalue.NoiDung.errors
                }"
              /> -->
              <ckeditor #editor [editor]="Editor" [data]="editorData" (change)="onChange($event)"></ckeditor>
              
              <div
                *ngIf="submitted && checkvalue.NoiDung.errors"
                class="invalid-feedback"
              >
                <div *ngIf="checkvalue.NoiDung.errors.required">
                  Nội dung không được để trống
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="onSubmit()" class="btn btn-primary">
      Lưu
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Đóng
    </button>
  </div>
</ng-template>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#ffffff"
  type="square-loader"
  [fullScreen]="true"
>
  <p style="color: white;">Đang tải dữ liệu ...</p>
</ngx-spinner>
