<section class="content-header" style="padding:5px !important">
    <div class="container-fluid">
        <div class="row mb-2">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a [routerLink]="['/portal/Student']">Cổng đánh giá</a></li>
                <li class="breadcrumb-item active">Sinh viên</li>
            </ol>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<section class="content cus-body">
    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="TeachInfo">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive dataTables_wrapper container-fluid dt-bootstrap4 cus-fs">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class=" table-bordered dataTables_wrapper no-footer ">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of TableData;let i=index;">
                                            <td>{{ p.Ten_dot }}</td>
                                            <td>{{ p.Ten_phieu }}</td>
                                            <td>{{ p.Ho_ten }}</td>
                                            <td>{{ p.Ten_mon }}</td>
                                            <td>{{ p.Ngay_bat_dau }}</td>
                                            <td>{{ p.Ngay_ket_thuc }}</td>
                                            <td>{{ p.TrangThai }}</td>
                                            <td>{{ p.Tai_khoan_gui }}</td>
                                            <td>
                                               <button class="btn btn-sm btn-warning"  ><i class="fas fa-edit" title="Đánh giá"></i></button> 
                                           </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>

    <!-- /.row -->
</section>
