<section class="content-header" style="padding: 0.5% !important;">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']"> <i class="fa-home fas"></i>Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" [routerLink]="['/events']">
              Khách hàng
            </li>
            <div class="{{TitleClass}}"></div>
          </ol>
        </div>
        <!-- /.col -->
        <div class="col-sm-6" style="text-align: right;">
            <button class="btn btn-success btn-sm" (click)="open(mymodal,false,null)"
        style="float: right;"><i class="fas fa-plus-circle"></i> Thêm mới khách hàng</button>
        </div>
        
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content cus-body">
    <div class="card">
      <div class="card-body">
        <div class="tab-content">
          <div class="active tab-pane">
            <div class="row">
              <div
                class="table-responsive dataTables_wrapper container-fluid dt-bootstrap4 cus-fs"
              >
                <table
                  datatable
                  [dtOptions]="dtOptions"
                  [dtTrigger]="dtTrigger"
                  class="table-bordered dataTables_wrapper no-footer"
                >
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of TableData">
                      <td>{{ p.ID }}</td>
                      <td>{{ p.HoTen }}</td>
                      <td>{{ p.Email }}</td>
                      <td>{{ p.UserName }}</td>
                      <td>{{ p.PassWord }}</td>
                      <td>{{ p.isPremium }}</td>
                      <td>{{ p.Loai }}</td>
                      <td>
                       <button class="btn btn-sm btn-warning" (click)="open(mymodal,true,p)" ><i class="fas fa-edit" title="Sửa khách hàng"></i></button> 
                      <button class="btn btn-sm btn-danger" (click)="DeleteConfirm(p)" style="margin-left: 4px;"><i class="fas fa-trash-alt" title="Xóa khách hàng"></i></button>  
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
    </div>
  </section>
  <ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thông tin khách hàng</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
          <form [formGroup]="Insert">
            <div class="cus-box">
              <div class="row">
                <div class="col-md-6">
                  <label class="col-md-10 require" for="ID">ID</label>
                  <input readonly
                    class="form-control"
                    required
                    type="number"
                    id="ID" 
                    formControlName="ID"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-md-10 require" for="HoTen"
                    >Họ tên</label
                  >
                  <input
                    class="form-control"
                    required
                    type="text"
                    id="HoTen" 
                    formControlName="HoTen"
                    placeholder="Nhập họ tên .."
                    [ngClass]="{
                      'is-invalid': submitted && checkvalue.HoTen.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && checkvalue.HoTen.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="checkvalue.HoTen.errors.required">
                     Họ tên không được để trống
                    </div>
                    <div *ngIf="checkvalue.HoTen.errors.maxlength">
                      Tối đa 200 ký tự
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-md-10 require" for="Email"
                    >Email</label
                  >
                  <input
                    class="form-control"
                    required
                    type="text"
                    id="Email" 
                    formControlName="Email"
                    placeholder="Nhập địa chỉ email"
                    [ngClass]="{
                      'is-invalid': submitted && checkvalue.Email.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && checkvalue.Email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="checkvalue.Email.errors.required">
                     Email không được để trống
                    </div>
                    <div *ngIf="checkvalue.Email.errors.email">
                      Email không đúng định dạng
                     </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-md-10 require" for="HoTen"
                    >Tài khoản</label
                  >
                  <input
                    class="form-control"
                    required
                    type="text"
                    id="UserName" 
                    formControlName="UserName"
                    placeholder="Nhập tài khoản..."
                    [ngClass]="{
                      'is-invalid': submitted && checkvalue.UserName.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && checkvalue.UserName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="checkvalue.UserName.errors.required">
                     Tài khoản không được để trống
                    </div>
                    <div *ngIf="checkvalue.UserName.errors.maxlength">
                      Tối đa 50 ký tự
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-md-10 require" for="Loại tài khoản"
                    >Tài khoản cao cấp</label
                  >
                  <input
                    class="form-control"
                    type="checkbox"
                    id="isPremium" 
                    name="isPremium" 
                    formControlName="isPremium"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="onSubmit()" class="btn btn-primary">Lưu</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Đóng</button>
    </div>
</ng-template>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffffff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Đang tải dữ liệu ... </p></ngx-spinner>