.main-sidebar {
    height: 100vh;
    overflow: scroll;
  }
  
  .cus-bor{
    border-radius: 20px;
    top:10px !important;
    padding: 0px !important;
    left: 10x;
    width: 230px;
  }
  .cus-text{
    color: #0e0e0e !important;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 15px;
  }
  .cus_m{
    background:#418994;
    font-size: 15px;
  }