<div class="wrapper">

</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success btn-sm" (click)="open(mymodal)" style="float: right;">
          <i class="fas fa-plus-circle"></i> CheckIn
        </button>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-12" [innerHTML]="Noi_dung" style="padding-left: 10%;padding-right: 10%;">
        
      </div>
     </div>
  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">CheckIn tham gia sự kiện</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container ">
      <div class="register-box" style="margin: auto;">
        <div class="register-logo">
          Events Management Solution
        </div>
        <div class="card">
          <div class="card-body register-card-body">
            <p class="login-box-msg">Checkin tham gia sự kiện</p>

            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="input-group mb-3">
                <input formControlName="HoTen" type="text" class="form-control" placeholder="Họ tên" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input formControlName="Email" type="email" class="form-control" placeholder="Địa chỉ mail" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input formControlName="SoDienThoai" type="text" class="form-control" placeholder="Số điện thoại" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fas fa-phone"></i>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input formControlName="DiaChi" type="text" class="form-control" placeholder="Địa chỉ" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fas fa-map-marked-alt"></i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">
                    Xác nhận thông tin
                  </button>
                </div>
                <!-- /.col -->
              </div>
            </form>
          </div>
          <!-- /.form-box -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</ng-template>